.about-logo {
  display: block;
  height: 15rem;
  margin: 1rem auto 2rem auto;
}

.about-info {
  &__service-desc,
  &__feature-desc,
  &__contact-us {
    width: 50%;
    margin: auto;
  }

  h3 {
    text-align: left;
    padding: 0 0.5rem;
    //   margin: 1rem auto;
    border-bottom: 1px solid $black;
  }
  p {
    text-align: left;
  }

  .contact-form {
    // width: 80%;
    margin: 1rem;
    padding: 1rem;
    // box-shadow: 2px 2px 2px #acaaaa;
  }
}
