.canteen-table {
  display: block;
  margin: auto;
  width: 50%;
}

.canteen-list {
  width: 70%;
  margin: 2rem auto;

  display: grid;
  // grid-template-columns: repeat(auto-fill, [col-start] 15rem [col-end]);
  grid-template-columns: repeat(4, 1fr);
}

.canteen-register-btn {
  color: $orange;
}
