.canteen-table {
  display: block;
  margin: auto;
  width: 50%;
}

.canteen-list {
  width: 60%;
  margin: 2rem auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, [col-start] 15rem [col-end]);
}

.canteen-register-btn {
  all: unset;
  cursor: pointer;
  display: block;

  height: 3rem;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
  color: $orange;

  &:hover {
    transform: scale(1.02);
    // text-shadow: 1px 1px 1px lightgrey;
  }
}
