.cvs-table {
  width: 70%;
  margin: 1rem auto;

  tr {
    display: grid;
    grid-template-columns: 4rem minmax(25rem, 1fr) 11rem 4rem 4rem;
  }

  td {
    padding: 2px;
  }
}

.post-title {
  &:hover {
    color: $orange;
    cursor: pointer;
  }
}
