.header {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  border-bottom: 1px solid $black;

  nav {
    display: inline-block;
    align-self: flex-end;
    text-align: right;
    margin-bottom: 0.5rem;

    a {
      all: unset;
      display: inline-block;
      margin: 0 1rem;
      cursor: pointer;

      &:hover {
        background-image: linear-gradient(to right, $orange, $orange);
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: 100% 3px;
      }

      &:visited {
        color: inherit;
      }
    }

    ul {
      li {
        display: inline-block;
        margin: 0 1rem;
        cursor: pointer;

        &:hover {
          background-image: linear-gradient(to right, $orange, $orange);
          background-position: bottom left;
          background-repeat: no-repeat;
          background-size: 100% 3px;
        }
      }
    }
  }
}

.logo {
  height: 150px;
  margin-bottom: 5px;
}
