.login {
  margin: 1rem auto;
  padding: 3rem 1rem;
  width: 30rem;
  height: 20rem;
  box-shadow: 3px 3px 5px rgb(189, 188, 188);
}
.kakao-login-btn {
  display: block;
  margin: 1rem auto;
  margin-top: 10rem;
  height: 3.2rem;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    box-shadow: 3px 3px 10px rgb(189, 188, 188);
  }
}

.login-info {
  color: grey;
  font-size: 80%;
}
