.main-page {
  width: 75%;
  height: 70vh;
  margin: 0 auto;
  //   background-image: url("../assets/bg01.jpg");
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-size: cover;
}
