.main-page_img {
  width: 80%;
  height: 30rem;
  margin: 3rem auto;
  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;
  background-image: url("../assets/main-pic01.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-info {
  h1 {
    font-size: 1.5rem;
  }

  &__service-desc,
  &__feature-desc,
  &__contact-us {
    width: 75%;
    margin: 8rem auto;
  }

  &__feature-desc {
    font-size: 1.1rem;
    font-weight: 500;

    .offer-list {
      display: grid;
      // justify-content: center;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 3rem;
      div {
        margin: 0 2rem;
      }
    }

    &-img {
      border-radius: 50%;
      width: 15rem;
    }
  }

  &__contact-us {
    width: 75%;
    display: flex;
    justify-content: space-evenly;

    .contact-form {
      margin: 1rem;
      padding: 1rem;
    }
  }
}

.price-tag {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  margin: 0 1rem;

  &:hover {
    background-image: linear-gradient(to right, $orange, $orange);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100% 2px;
  }
}
