.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: fixed;
  /* height: 30rem;
    width: rem; */
  top: 50%;
  left: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 3px 3px 3px lightgrey;
}

.menu-image {
  max-width: 100%;
}

.modal-close-btn {
  all: unset;
  cursor: pointer;
  margin: 1rem auto 0 auto;
  font-size: 1rem;

  &:hover {
    transform: scale(1.2);
  }
}
