.result-page {
  width: 75%;
  margin: auto;

  .result-container {
    display: grid;
    grid-template-columns: 0.8fr 1fr;

    @media only screen and (max-width: 1200px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  header {
    display: block;
    margin: 0 auto;
    text-align: center;
    // border-bottom: 1px solid #333333;
  }

  h1 {
    font-size: 1.6rem;
    margin: 0 3rem;
  }

  .filter-result {
    display: inline-block;
    font-size: 1.1rem;

    span {
      font-weight: 500;
      margin: 0 3rem;
    }
  }
}
