// Font
@font-face {
  font-family: "SSM";
  src: url("../assets/Typo_SsangmunDongB.ttf") format("truetype");
}

@font-face {
  font-family: "NN";
  src: url("../assets/NanumSquare.ttf") format("truetype");
}

// Color Scheme
$black: #2f2f2f;
$orange: #ec8037;
$ivory: #f3f3f3;

// Media Queries

// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {...}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {...}

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}

// Default Set Change
h1 {
  display: inline-block;
  font-family: "SSM", sans-serif;
  margin: auto 0;
}

a {
  all: unset;
  cursor: pointer;
}

input {
  font-family: "NN", sans-serif;
  display: block;
  width: 30rem;
  height: 3rem;
  font-size: 1rem;
  margin: 1rem auto;
  padding: 0 0.5rem;
  border: 2px solid #333333;
  border-radius: 5px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;

  th,
  td {
    border: 1px solid $black;
  }
}

// Custom tag style
.main-btn {
  all: unset;
  display: block;
  width: 25rem;
  height: 3rem;
  background-color: transparent;
  border: 1px solid $black;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "SSM", sans-serif;
  letter-spacing: 0.1rem;
  text-align: center;
  margin: 0 auto;

  cursor: pointer;

  &:hover {
    background-color: $black;
    color: white;
  }
}

.small-btn {
  all: unset;
  //   width: 5rem;
  height: 2rem;
  background-color: transparent;
  border: 1px solid $black;
  border-radius: 5px;
  font-size: 1rem;
  //   font-family: "SSM", sans-serif;
  //   letter-spacing: 0.1rem;
  text-align: center;
  margin: 0.5rem;
  padding: 0.1rem 0.7rem;
  cursor: pointer;

  &:hover {
    background-color: $black;
    color: white;
  }
}
